html
    head
        include ./include/base.pug
        include ./include/input.pug
        script(src="/lib/demoapp.js")
    body(ng-app="demoapp" ng-controller="demoCtrl")
        h1 Dynamisches Beispiel mit Bootstrap
        +inputArea("Vorname","model.vorname","model.vorname.length>4")
        +inputArea("Nachname","model.nachname","model.nachname.length>4")
        +inputArea("Straße","model.strasse","model.strasse.length>8")
        +inputArea("Ort","model.ort","model.ort.length>2")
        p {{model.test}}
